---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-1" style="width:15%">
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-2" style="width:15%">
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-3" style="width:15%">
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-4" style="width:15%">
</section>
<!-- /page title -->

<div class="card">
  <div class="card-header">
    2020
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Atomistic study of the alloying behavior of crystalline SnSe1−xSx</li>
      <li class="list-group-item">Influence of Al2O3 Nanowires on Ion Transport in Nanocomposite Solid Polymer Electrolytes</li>
      <li class="list-group-item">Molecular tunability of magnetic exchange bias and asymmetrical magnetotransport in metalloporphyrin/Co hybrid bilayers</li>
      <li class="list-group-item">Emergence of Multispinterface and Antiferromagnetic Molecular Exchange Bias via Molecular Stacking on a Ferromagnetic Film</li>
      <li class="list-group-item">Atomic-scale identification of invisible cation vacancies at an oxide homointerface</li>
    </ul>
  </div>
</div>
<div class="container">

</div>
