---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-1" style="width:15%">
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-2" style="width:15%">
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-3" style="width:15%">
  <img src="{{ site.baseurl }}/assets/images/illustrations/cloud.png" alt="illustrations" class="bg-shape-4" style="width:15%">
</section>
<!-- /page title -->


<table class="table-responsive-md">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Year</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Atomistic study of the alloying behavior of crystalline SnSe 1− x S x</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Influence of Al2O3 Nanowires on Ion Transport in Nanocomposite Solid Polymer Electrolytes</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Molecular tunability of magnetic exchange bias and asymmetrical magnetotransport in metalloporphyrin/Co hybrid bilayers</td>
        <td>@twitter</td>
      </tr>
    </tbody>
</table>